*{
  font-family: 'Montserrat', sans-serif;
}


.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

p{
  padding:0;
  margin:0;
}

.loader {
  border: 16px solid #8e919b; /* Light grey */
  border-top: 16px solid #47324a; /* Blue */
  border-radius: 50%;
  width: 100;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  margin-left: auto;
  margin-right: auto;
}

/* Modal Content/Box */
.modal-content {
  background-color: transparent;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 160px; /* Could be more or less, depending on screen size */
  align-self: center;
}

.modal-content-confirm-tx {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 260px; /* Could be more or less, depending on screen size */
  align-self: center;
}

.modal-content-confirm-pay {
  background-color: #fefefe;
  margin: 10px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 350px; /* Could be more or less, depending on screen size */
  align-self: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.labelNewInvoice{
  font-weight: 500;
}


i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.form-name{
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
  color: #727784c7;
  text-transform: uppercase;
}

.hash-text{
  font-size:10px;
  font-weight: 600;
  word-break: break-all;
  margin:0;
  padding:0;
}

.value-view{
  font-size:25px;
  margin:0;
  padding:0;
}

.view-req-name{
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-top: 10;
  color: #5a5f6a;
  text-transform: uppercase;
}
